.rowCenterStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.rowLeftMiddleStyle {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
 }
.rowLeftTopStyle {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: flex-start;
 }
.rowLeftBottomStyle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}
.rowRightTopStyle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}
.rowRightMiddleStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.rowRightBottomStyle {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.columnCenterStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.columnCenterTopStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.columnLeftMiddleStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.columnLeftTopStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.columnLeftBottomStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.columnRightMiddleStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.columnRightTopStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.columnRightBottomStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
